Source: arduino-mega2560
Section: boards
XBSC-Family: avr
Priority: optional
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: http://arduino.cc/en/Main/ArduinoBoardMega2560

Package: arduino-mega2560
Section: boards
Architecture: all
XBSC-Group: Arduino
XBSC-Subgroup: Mega
Depends: arduino
Description: Arduino Mega 2560 or Mega ADK
 The Arduino Mega 2560 is a microcontroller board based on the ATmega2560.
 It has 54 digital input/output pins (of which 15 can be used as PWM
 outputs), 16 analog inputs, 4 UARTs (hardware serial ports), a 16 MHz
 crystal oscillator, a USB connection, a power jack, an ICSP header, and
 a reset button. It contains everything needed to support the
 microcontroller; simply connect it to a computer with a USB cable or
 power it with a AC-to-DC adapter or battery to get started. The Mega
 is compatible with most shields designed for the Arduino Duemilanove
 or Diecimila.
 .
 The Mega 2560 is an update to the Arduino Mega, which it replaces.
 .
 The Mega2560 differs from all preceding boards in that it does not
 use the FTDI USB-to-serial driver chip. Instead, it features the
 ATmega16U2 (ATmega8U2 in the revision 1 and revision 2 boards)
 programmed as a USB-to-serial converter.
 .
 Revision 2 of the Mega2560 board has a resistor pulling the 8U2 HWB
 line to ground, making it easier to put into DFU mode.
 .
 Revision 3 of the board has the following new features:
 .
 *   1.0 pinout: added SDA and SCL pins that are near to the AREF pin and
 two other new pins placed near to the RESET pin, the IOREF that allow
 the shields to adapt to the voltage provided from the board. In future,
 shields will be compatible both with the board that use the AVR, which
 operate with 5V and with the Arduino Due that operate with 3.3V. The
 second one is a not connected pin, that is reserved for future purposes.
 *   Stronger RESET circuit.
 *   Atmega 16U2 replace the 8U2.



